{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools %}
  <div class="object-tools" style="display: flex; gap: 10px; margin-bottom: 10px;">
    <ul style="display: flex; gap: 10px; list-style: none; margin: 0; padding: 0;">
      <li>
        <a href="{% url 'admin:create-accounts' %}" class="button">Create Accounts</a>
      </li>
      <li>
        <a href="{% url 'admin:bulk-create-accounts' %}" class="button">Bulk Create</a>
      </li>
    </ul>
  </div>
  {{ block.super }}
{% endblock %}
